-e ../../PrefectHQ/prefect
-e ../../PrefectHQ/prefect-cloud
-e ../../PrefectHQ/prefect-mcp-server

marvin

beautifulsoup4
mechanicalsoup

watchdog

duckdb

# development
mypy
pytest
ipython
ruff
memray
